
<app-nav></app-nav>
<div class="galer">
  
    <div class="container">
      <div class="item">
        <img src="https://i.ibb.co/T8SZMNP/Whats-App-Image-2021-06-11-at-6-14-31-PM.jpg" alt="" class="item-img">
        <div class="item-text">
          <h3>imagenes de los salones</h3>
          <div>
              <a href="ima1">ver mas</a>
          </div>
        </div>
        
      </div>
      
      <div class="item">
        <img src="https://i.ibb.co/0YBy0MQ/Whats-App-Image-2021-06-11-at-6-13-12-PM.jpg" alt="" class="item-img">
        <div class="item-text">
          <h3>imagenes de reuniones</h3>
          <a href="ima2">ver mas</a>
        </div>
      </div>
      
      <div class="item">
        <img src="https://i.ibb.co/3yJGr8t/Whats-App-Image-2021-06-11-at-6-10-56-PM.jpg" alt="" class="item-img">
        <div class="item-text">
          <h3>Imagen de evento</h3>
          <a href="ima3">ver mas</a>
        </div>
      </div>
      
      <div class="item">
        <img src="https://i.ibb.co/hZtF7KK/ieas.jpg" alt="" class="item-img">
        <div class="item-text">
          <h3>Imagen 1</h3>
          <a href="ima4">ver mas</a>
        </div>
      </div>
      
      
      <div class="item">
        <img src="https://i.ibb.co/NF3y9rX/Whats-App-Image-2021-06-11-at-6-16-17-PM.jpg" alt="" class="item-img">
        <div class="item-text">
          <h3>Imagen 1</h3>
          <a href="ima5">ver mas</a>
        </div>
      </div>
      
      <div class="item">
        <img src="https://i.ibb.co/T07qTCF/Whats-App-Image-2021-06-11-at-6-16-22-PM.jpg" alt="" class="item-img">
        <div class="item-text">
          <h3>Imagen 1</h3>
          <a href="ima6">ver mas</a>
        </div>
      </div>
    </div>

    
    

</div>
