<app-nav></app-nav>
    <section class="seccion-perfil-usuario">
        <div class="perfil-usuario-header">
            <div class="perfil-usuario-portada">
                <div class="perfil-usuario-avatar">
                    <img src="https://scontent.feoh1-1.fna.fbcdn.net/v/t1.6435-9/62435852_106104380664398_8602009767998652416_n.jpg?_nc_cat=103&ccb=1-3&_nc_sid=174925&_nc_ohc=_vGMfKE6q30AX-RvML6&tn=Gnmyue6HTyX01KxZ&_nc_ht=scontent.feoh1-1.fna&oh=64949b7145421d4ef84ee34ff4fb871b&oe=60D67F48" alt="img-avatar">
                </div>
            </div>
        </div>
        <div class="perfil-usuario-body">
            <div class="perfil-usuario-bio">
                <h3 class="titulo">Miller Solano</h3>
               
            </div>
            <div class="perfil-usuario-footer">
                <ul class="lista-datos">
                    <li><i class="icono fas fa-map-signs"></i> Direccion de usuario: Cazurito</li>
                    <li><i class="icono fas fa-phone-alt"></i> Telefono: 312899312</li>
                    <li><i class="icono fas fa-briefcase"></i> Trabajo: Institucion Educativa Antinia Santos</li>
                    <li><i class="icono fas fa-building"></i> Cargo: Profesor</li>
                </ul>
                <ul class="lista-datos">
                    <li><i class="icono fas fa-calendar-alt"></i>Correo: millersolano@gmail.com</li>
                </ul>
            </div>
         
        </div>
    </section>
    <br>



