<app-nav></app-nav>
<div class="container">

    <div class="conte ">
        <div class="card stromtroper">
            <img src="https://scontent.fbog10-1.fna.fbcdn.net/v/t1.6435-9/35162238_244932932924802_4330009624930418688_n.jpg?_nc_cat=107&ccb=1-3&_nc_sid=730e14&_nc_ohc=aSlNTsbjyuMAX9cCbNg&_nc_ht=scontent.fbog10-1.fna&oh=3b3122bbce5eb65c495f4213e8f4cd05&oe=60E7957D"
                alt="">
        </div>
        <div class="informacion">
            <h1>Maide Barajas Monsalve</h1>
            <br>
            <div>
                <a href="usu1">ver datos</a>
            </div>
        </div>




    </div>

    <div class="conte">
        <div class="card iron-man">
            <img src=""
                alt="">
        </div>
        <div class="informacion">
            <h1>Shanol Muhammed
            </h1>
            <br>
            <div>
                <a href="usu2">ver datos</a>
            </div>
        </div>

    </div>

    <div class="conte">
        <div class="card spider-man">
            <img src="https://scontent.feoh1-1.fna.fbcdn.net/v/t1.6435-9/186522434_4166670680057508_1154838169374622325_n.jpg?_nc_cat=110&_nc_rgb565=1&ccb=1-3&_nc_sid=8bfeb9&_nc_ohc=lQtPOYDy6x8AX-y0Vba&_nc_ht=scontent.feoh1-1.fna&oh=ffc8f4bc1ace27a4500b79bb4c86bacb&oe=60E05317"
                alt="">
        </div>
        <div class="informacion">
            <h1>Ana Teresa Rodriguez Sanchez</h1>
<br>
            <div>
                <a href="usu3">ver datos</a>
            </div>
        </div>


    </div>
</div>

<div class="container">

    <div class="conte ">
        <div class="card stromtroper">
            <img src="https://scontent.feoh1-1.fna.fbcdn.net/v/t1.6435-9/162501823_453675145907318_498927603270361920_n.jpg?_nc_cat=110&ccb=1-3&_nc_sid=8bfeb9&_nc_ohc=_8X4b2Z7tTcAX9lQzbW&_nc_ht=scontent.feoh1-1.fna&oh=ca6bc9b07f1a8b13cf688a48ab3de43f&oe=60D54AAD"
                alt="">
        </div>
        <div class="informacion">
            <h1>Miller Solano</h1>
            <br>
            <div>
                <a href="usu4">ver datos</a>
            </div>
        </div>




    </div>

    <div class="conte">
        <div class="card iron-man">
            <img src="https://scontent.feoh1-1.fna.fbcdn.net/v/t1.6435-9/36262159_10211742305979876_6893582222733869056_n.jpg?_nc_cat=107&ccb=1-3&_nc_sid=8bfeb9&_nc_ohc=OjGyU-gaT6sAX-nj-Je&_nc_ht=scontent.feoh1-1.fna&oh=9d0afc1a5772a7f6c13a2a97eacff236&oe=60D5587A"
                alt="">
        </div>
        <div class="informacion">
            <h1>Jimmy Alexander Forero Martinez
            </h1>
            <br>
            <div>
                <a href="usu5">ver datos</a>
            </div>
        </div>

    </div>

    <div class="conte">
        <div class="card spider-man">
            <img src="https://scontent.feoh1-1.fna.fbcdn.net/v/t1.18169-9/21430587_400442503704271_3285611127713112084_n.jpg?_nc_cat=100&ccb=1-3&_nc_sid=8bfeb9&_nc_ohc=33HoLLZ14v8AX_njz_h&_nc_ht=scontent.feoh1-1.fna&oh=8d36512c8c776f32f7fdacabbb3a6d1f&oe=60D5FD4E"
                alt="">
        </div>
        <div class="informacion">
            <h1>Claudia Brito
            </h1>

            <br>
            <div>
                <a href="usu6">ver datos</a>
            </div>
        </div>


    </div>
</div>