<app-nav></app-nav>
    <section class="seccion-perfil-usuario">
        <div class="perfil-usuario-header">
            <div class="perfil-usuario-portada">
                <div class="perfil-usuario-avatar">
                    <img src="https://scontent.feoh1-1.fna.fbcdn.net/v/t1.18169-9/13427950_10206365983815182_4134349453143960519_n.jpg?_nc_cat=102&ccb=1-3&_nc_sid=8bfeb9&_nc_ohc=65W6PUVlo5QAX_qemls&_nc_ht=scontent.feoh1-1.fna&oh=f7b80133422455dda8f0fa57b691ef17&oe=60D6DAC0" alt="img-avatar">
                </div>
            </div>
        </div>
        <div class="perfil-usuario-body">
            <div class="perfil-usuario-bio">
                <h3 class="titulo">Miller Solano</h3>
               
            </div>
            <div class="perfil-usuario-footer">
                <ul class="lista-datos">
                    <li><i class="icono fas fa-map-signs"></i> Direccion de usuario: Cazurito</li>
                    <li><i class="icono fas fa-phone-alt"></i> Telefono: 31338938</li>
                    <li><i class="icono fas fa-briefcase"></i> Trabajo: Institucion Educativa Antinia Santos</li>
                    <li><i class="icono fas fa-building"></i> Cargo: Profesor</li>
                </ul>
                <ul class="lista-datos">
                    <li><i class="icono fas fa-calendar-alt"></i>Correo: MillerSolano@gmail.com</li>
                </ul>
            </div>
         
        </div>
    </section>
    <br>



