<!-- 
<app-nav></app-nav> -->
<div class="header">
    <div class="bg-dark ">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                  <div class=" navg navbar-nav w-100 justify-content-center " >
                    <a class="nav-item nav-link" href="noti">Noticias</a>
                    <a class="nav-item nav-link" href="regi">registrarse</a>
                    <a class="nav-item nav-link" href="gale">galeria</a>
                    <a class="nav-item nav-link" href="dato">datos</a>
                  </div>
                </div>
              </nav>
        </div>
        
        
            <div class="content-all">
                <div class="content-carrousel">
                    <figure><img src="https://scontent.feoh3-1.fna.fbcdn.net/v/t1.6435-9/68406202_794011764347341_5842239267362832384_n.jpg?_nc_cat=106&ccb=1-3&_nc_sid=8bfeb9&_nc_ohc=fF-jBFEGiSsAX91Z7uF&_nc_ht=scontent.feoh3-1.fna&oh=296999099a6c6ad26e06da2a9cbf079c&oe=60DEAF85"></figure>
                    <figure><img src="https://scontent.feoh3-1.fna.fbcdn.net/v/t1.6435-9/68290565_793879351027249_527821875468828672_n.jpg?_nc_cat=109&ccb=1-3&_nc_sid=8bfeb9&_nc_ohc=56JZRkyF-2UAX-U5DfV&_nc_ht=scontent.feoh3-1.fna&oh=4bcc25d9e68c004dfac844c6b948b30a&oe=60E1AB5E"></figure>
                    <figure><img src="https://scontent.feoh3-1.fna.fbcdn.net/v/t1.18169-9/13906779_191202647961592_5369431516411412246_n.jpg?_nc_cat=105&ccb=1-3&_nc_sid=8bfeb9&_nc_ohc=I1nociG-N2MAX8eI25W&_nc_ht=scontent.feoh3-1.fna&oh=92ebbf67c3a1e3835f66e69606411a4e&oe=60E1C15E"></figure>
                    <figure><img src="https://scontent.feoh3-1.fna.fbcdn.net/v/t1.6435-9/60894720_742369976178187_5209328209404887040_n.jpg?_nc_cat=105&ccb=1-3&_nc_sid=8bfeb9&_nc_ohc=v0cpnbSzutwAX8hmcV6&_nc_ht=scontent.feoh3-1.fna&oh=4d9b787f3727d7490de9a9cf4c7a6a2d&oe=60DE5AAB"></figure>
                    <figure><img src="https://scontent.feoh3-1.fna.fbcdn.net/v/t1.6435-9/60233596_733658497049335_6945092757652242432_n.jpg?_nc_cat=101&ccb=1-3&_nc_sid=8bfeb9&_nc_ohc=o1RV6vQOoNAAX-m5ZgW&_nc_ht=scontent.feoh3-1.fna&oh=a25b4644d0e670d9e00fda38ce4fefc0&oe=60DE39B8"></figure>
                    <figure><img src="https://files.rcnradio.com/public/styles/image_834x569/public/2020-11/casuarito_0.jpg?itok=Ek9JfvIh"></figure>
                    <figure><img src="https://scontent.feoh3-1.fna.fbcdn.net/v/t1.6435-9/56823362_713919065689945_3097459027223773184_n.jpg?_nc_cat=107&ccb=1-3&_nc_sid=8bfeb9&_nc_ohc=b3hyssPcNYgAX_QJAoR&_nc_ht=scontent.feoh3-1.fna&oh=c4d450935e7863700a2472d5e8d09169&oe=60E04E60"></figure>
                    <figure><img src="https://scontent.feoh3-1.fna.fbcdn.net/v/t1.6435-9/50951911_678861905862328_697171392273055744_n.jpg?_nc_cat=106&ccb=1-3&_nc_sid=8bfeb9&_nc_ohc=tVLteiPypjQAX875j0Z&tn=ANJq4KyttPXfocjM&_nc_ht=scontent.feoh3-1.fna&oh=e10129e5455879111066510198fa5085&oe=60E070F0"></figure>
                    <figure><img src="https://scontent.feoh3-1.fna.fbcdn.net/v/t1.6435-9/51294701_678846719197180_6662036653156073472_n.jpg?_nc_cat=104&ccb=1-3&_nc_sid=8bfeb9&_nc_ohc=4HZbr-Cc00EAX8EMgis&_nc_ht=scontent.feoh3-1.fna&oh=777c138490fff39749c17de167c8efb1&oe=60E18F6E"></figure>
                    <figure><img src="https://scontent.feoh3-1.fna.fbcdn.net/v/t1.18169-9/15178942_10210325119140799_4351513789442728616_n.jpg?_nc_cat=101&ccb=1-3&_nc_sid=8bfeb9&_nc_ohc=OywqDdbtTEcAX_XMMoX&_nc_ht=scontent.feoh3-1.fna&oh=360da38b239d7f2b3fb1fb86fd906970&oe=60E03032"></figure>
                </div>
            </div>


       
            <!-- <div class="hol">
                <img src="https://i.ibb.co/nsx5hrt/Whats-App-Image-2021-06-04-at-9-13-25-AM-1.jpg" alt="">

            </div> -->


            <div class="video1">
                <div class="container text-center mt-5">
                    <youtube-player 
                    videoId="Sn9W-uWPGuQ" 
                    suggestedQuality="highres" 
                    [height]="270" 
                    [width]="560" 
                    [startSeconds]="4"
                    [endSeconds]="8">
                  </youtube-player>
                </div>
          
    </div>
    </div>
</div>

    

